  body {
  background: #191919;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1em;
  border-radius: 20px;
}

#all{
    visibility: hidden;
}

#btn {
    padding: 10px ;
    background: linear-gradient(#1f77bd, #1fe5bd);
    border: 0px solid;
    border-radius: 2px;
    color:white;
    width: 200px;
  }
